/*********************************/
/* COLLORS ICON SERVICE SECTION */
/*******************************/
.Warna-Icon {
  color: aqua;
}

.col-md-12 i {
  color: aqua;
}

/* MODALBOX ICON */
.TittleModalBox-Icon {
  color : black;
  font-size: 26px;
  
}